In [22]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///GoBike.sqlite')
conn = engine.connect()
print(engine.table_names())

['rider', 'station']

In [18]:
from sqlalchemy import MetaData, Table
metadata = MetaData()
station = Table('station', metadata, autoload=True, autoload_with=engine)
print (repr(station))

Table('station', MetaData(bind=None), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station_id', INTEGER(), table=<station>), Column('station_name', VARCHAR(length=255), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('neighborhood', VARCHAR(length=255), table=<station>), Column('zipcode', INTEGER(), table=<station>), schema=None)

In [42]:
from sqlalchemy.orm import Session
import pandas as pd

session = Session(bind=engine)

result = session.query(station)
pd.read_sql(result.statement, engine.connect())

,id,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,1,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,2,141,Valencia St at Cesar Chavez St,37.747998,-122.420219,Bernal Heights,94110
2,3,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103
3,4,81,Berry St at 4th St,37.775880,-122.393170,China Basin,94107
4,5,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114
5,6,17,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,South of Market,94105
6,7,41,Golden Gate Ave at Polk St,37.781270,-122.418740,Civic Center,94102
7,8,113,Franklin Square,37.764555,-122.410345,Mission District,94110
8,9,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,Mission Bay,94107
9,10,27,Beale St at Harrison St,37.788059,-122.391865,Rincon Hill,94105
10,11,350,8th St at Brannan St,37.771431,-122.405787,Mission Bay,94103
11,12,70,Central Ave at Fell St,37.773311,-122.444293,North of the Panhandle,94117
12,13,98,Valencia St at 16th St,37.765052,-122.421866,Mission Dolores,94103
13,14,105,16th St at Prosper St,37.764285,-122.431804,The Castro,94114
14,15,119,18th St at Noe St,37.761047,-122.432642,The Castro,94114
15,16,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,South of Market,94104
16,17,14,Clay St at Battery St,37.795001,-122.399970,Financial District,94111
17,18,107,17th St at Dolores St,37.763015,-122.426497,Mission Dolores,94114

In [27]:
rider = Table('rider', metadata, autoload=True, autoload_with=engine)
result2 = session.query(rider)
pd.read_sql(result2.statement, conn)

,id,bike_id,start_time,start_station_id,end_time,end_station_id,duration,user_type,member_age,member_gender
0,1,4036,1527836548,118,1527837055,141,507,0,46,0
1,2,1607,1527836557,36,1527836841,81,283,0,31,0
2,3,1701,1527836558,95,1527837790,17,1231,0,45,0
3,4,3848,1527836592,41,1527837084,113,491,0,53,0
4,5,3800,1527836617,30,1527837008,27,391,0,42,0
5,6,3931,1527836663,350,1527837464,70,801,0,24,0
6,7,2618,1527836711,98,1527837130,41,418,0,53,0
7,8,1202,1527836968,105,1527837088,119,119,0,28,0
8,9,116,1527836993,21,1527837181,14,187,0,37,0
9,10,3934,1527837028,119,1527837236,107,208,0,37,0

In [39]:
query = 'SELECT * FROM station JOIN rider ON station.station_id = rider.start_station_id;'
pd.read_sql(query, engine.connect())

,id,station_id,station_name,latitude,longitude,neighborhood,zipcode,id,bike_id,start_time,start_station_id,end_time,end_station_id,duration,user_type,member_age,member_gender
0,1,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114,1,4036,1527836548,118,1527837055,141,507,0,46,0
1,3,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103,2,1607,1527836557,36,1527836841,81,283,0,31,0
2,5,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114,3,1701,1527836558,95,1527837790,17,1231,0,45,0
3,7,41,Golden Gate Ave at Polk St,37.781270,-122.418740,Civic Center,94102,4,3848,1527836592,41,1527837084,113,491,0,53,0
4,9,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,Mission Bay,94107,5,3800,1527836617,30,1527837008,27,391,0,42,0
5,11,350,8th St at Brannan St,37.771431,-122.405787,Mission Bay,94103,6,3931,1527836663,350,1527837464,70,801,0,24,0
6,13,98,Valencia St at 16th St,37.765052,-122.421866,Mission Dolores,94103,7,2618,1527836711,98,1527837130,41,418,0,53,0
7,14,105,16th St at Prosper St,37.764285,-122.431804,The Castro,94114,8,1202,1527836968,105,1527837088,119,119,0,28,0
8,15,119,18th St at Noe St,37.761047,-122.432642,The Castro,94114,10,3934,1527837028,119,1527837236,107,208,0,37,0
9,16,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,South of Market,94104,9,116,1527836993,21,1527837181,14,187,0,37,0