In [3]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [22]:
Base = declarative_base()

class Rider(Base):
    __tablename__ = 'rider'
    id = Column(Integer, primary_key=True)
    bike_id = Column(Integer)
    start_time = Column(Integer)
    start_station_id = Column(Integer)
    end_time = Column(Integer)
    end_station_id = Column(Integer)
    duration = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station_id = Column(Integer)
    station_name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    neighborhood = Column(String(255))
    zipcode = Column(Integer)

In [11]:
file = 'Data/stationsample.csv'
pd.read_csv(file).drop(columns=['Unnamed: 0']).to_csv('Data/stationsample_cleaned.csv', index=False)

In [16]:
cleanfile = 'Data/stationsample_cleaned.csv'
df = pd.read_csv(cleanfile)
df.head()

,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,141,Valencia St at Cesar Chavez St,37.747998,-122.420219,Bernal Heights,94110
2,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103
3,81,Berry St at 4th St,37.775880,-122.393170,China Basin,94107
4,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114

In [13]:
engine = create_engine('sqlite:///GoBike.sqlite')
conn = engine.connect()

In [14]:
Base.metadata.create_all(engine)

In [15]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [23]:
for index, row in df.iterrows():
    session.add(Station(station_id=row['station_id'],
                station_name=row['station_name'], 
                latitude=row['latitude'], 
                longitude=row['longitude'], 
                neighborhood=row['neighborhood'], 
                zipcode=row['zipcode']))

In [76]:
from sqlalchemy import inspect, MetaData

md = MetaData(engine, reflect=True)
station_list = session.query(Station)
print(md.tables['station'])
print('---------------')

for station in station_list:
    print(station.neighborhood)

station
---------------
The Castro
Bernal Heights
South of Market
China Basin
The Castro
South of Market
Civic Center
Mission District
Mission Bay
Rincon Hill
Mission Bay
North of the Panhandle
Mission Dolores
The Castro
The Castro
South of Market
Financial District
Mission Dolores

C:\Users\jjahn\Anaconda3\envs\pythondata36\lib\site-packages\ipykernel_launcher.py:3: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
pd.read_sql(session.query(Station).filter(Station.neighborhood == 'China Basin').statement, session.bind)

Empty DataFrame
Columns: [id, station_id, station_name, latitude, longitude, neighborhood, zipcode]
Index: []

In [62]:
df = pd.read_sql('SELECT * FROM station', conn)

In [63]:
df

Empty DataFrame
Columns: [id, station_id, station_name, latitude, longitude, neighborhood, zipcode]
Index: []