In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [107]:
Base = declarative_base()

class Rider(Base):
    __tablename__ = 'rider'
    id = Column(Integer, primary_key=True)
    bike_id = Column(Floar)
    start_time = Column(Float)
    start_station_id = Column(Floar)
    end_time = Column(Float)
    end_station_id = Column(Float)
    duration = Column(Float)
    user_type = Column(Float)
    member_age = Column(Float)
    member_gender = Column(Float)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station_id = Column(Integer)
    station_name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    neighborhood = Column(String(255))
    zipcode = Column(Integer)

In [3]:
file = 'Data/stationsample.csv'
pd.read_csv(file).drop(columns=['Unnamed: 0']).to_csv('Data/stationsample_cleaned.csv', index=False)

In [47]:
cleanfile = 'Data/stationsample_cleaned.csv'
df = pd.read_csv(cleanfile)
df

,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,141,Valencia St at Cesar Chavez St,37.747998,-122.420219,Bernal Heights,94110
2,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103
3,81,Berry St at 4th St,37.775880,-122.393170,China Basin,94107
4,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114
5,17,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,South of Market,94105
6,41,Golden Gate Ave at Polk St,37.781270,-122.418740,Civic Center,94102
7,113,Franklin Square,37.764555,-122.410345,Mission District,94110
8,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,Mission Bay,94107
9,27,Beale St at Harrison St,37.788059,-122.391865,Rincon Hill,94105
10,350,8th St at Brannan St,37.771431,-122.405787,Mission Bay,94103
11,70,Central Ave at Fell St,37.773311,-122.444293,North of the Panhandle,94117
12,98,Valencia St at 16th St,37.765052,-122.421866,Mission Dolores,94103
13,105,16th St at Prosper St,37.764285,-122.431804,The Castro,94114
14,119,18th St at Noe St,37.761047,-122.432642,The Castro,94114
15,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,South of Market,94104
16,14,Clay St at Battery St,37.795001,-122.399970,Financial District,94111
17,107,17th St at Dolores St,37.763015,-122.426497,Mission Dolores,94114

In [49]:
samplefile = 'Data/GoBikeRiderSample.csv'
pd.read_csv(samplefile).drop(columns=['Unnamed: 0']).to_csv('Data/ridersample_cleaned.csv', index=False)
cleanRiderFile = 'Data/ridersample_cleaned.csv'
rider_DF = pd.read_csv(cleanRiderFile)
rider_DF

,bike_id,start_time,start_station_id,end_time,end_station_id,duration_sec,user_type,member_age,member_gender
0,4036,1527836548,118,1527837055,141,507,0,46,0
1,1607,1527836557,36,1527836841,81,283,0,31,0
2,1701,1527836558,95,1527837790,17,1231,0,45,0
3,3848,1527836592,41,1527837084,113,491,0,53,0
4,3800,1527836617,30,1527837008,27,391,0,42,0
5,3931,1527836663,350,1527837464,70,801,0,24,0
6,2618,1527836711,98,1527837130,41,418,0,53,0
7,1202,1527836968,105,1527837088,119,119,0,28,0
8,116,1527836993,21,1527837181,14,187,0,37,0
9,3934,1527837028,119,1527837236,107,208,0,37,0

In [98]:
engine = create_engine('sqlite:///GoBike.sqlite')
conn = engine.connect()

In [99]:
Base.metadata.create_all(engine)

In [100]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [101]:
gobike = 'Data/GoBikeRiderSample.csv'
pd.read_csv(gobike).drop(columns=['Unnamed: 0']).to_csv('Data/GoBikeRiderClean.csv', index=False)

In [102]:
file2 = 'Data/GoBikeRiderClean.csv'
df2 = pd.read_csv(file2)
df2

,bike_id,start_time,start_station_id,end_time,end_station_id,duration_sec,user_type,member_age,member_gender
0,4036,1527836548,118,1527837055,141,507,0,46,0
1,1607,1527836557,36,1527836841,81,283,0,31,0
2,1701,1527836558,95,1527837790,17,1231,0,45,0
3,3848,1527836592,41,1527837084,113,491,0,53,0
4,3800,1527836617,30,1527837008,27,391,0,42,0
5,3931,1527836663,350,1527837464,70,801,0,24,0
6,2618,1527836711,98,1527837130,41,418,0,53,0
7,1202,1527836968,105,1527837088,119,119,0,28,0
8,116,1527836993,21,1527837181,14,187,0,37,0
9,3934,1527837028,119,1527837236,107,208,0,37,0

In [54]:
session.query(Station).delete()
for index, row in df.iterrows():
    session.add(Station(station_id=row['station_id'],
                        station_name=row['station_name'], 
                        latitude=row['latitude'], 
                        longitude=row['longitude'], 
                        neighborhood=row['neighborhood'], 
                        zipcode=row['zipcode']))
    session.commit()

In [108]:
session.query(Rider).delete()
for index, row in df2.iterrows():
    session.add(Rider(bike_id = row['bike_id'],
                    start_time = row['start_time'],
                    start_station_id = row['start_station_id'],
                    end_time = row['end_time'],
                    end_station_id = row['end_station_id'],
                    duration = row['duration_sec'],
                    user_type = row['user_type'],
                    member_age = row['member_age'],
                    member_gender = row['member_gender']))
    print(row)
    session.commit()

bike_id                   4036
start_time          1527836548
start_station_id           118
end_time            1527837055
end_station_id             141
duration_sec               507
user_type                    0
member_age                  46
member_gender                0
Name: 0, dtype: int64
bike_id                   1607
start_time          1527836557
start_station_id            36
end_time            1527836841
end_station_id              81
duration_sec               283
user_type                    0
member_age                  31
member_gender                0
Name: 1, dtype: int64
bike_id                   1701
start_time          1527836558
start_station_id            95
end_time            1527837790
end_station_id              17
duration_sec              1231
user_type                    0
member_age                  45
member_gender                0
Name: 2, dtype: int64
bike_id                   3848
start_time          1527836592
start_station_id            41
end_time            1527837084
end_station_id             113
duration_sec               491
user_type                    0
member_age                  53
member_gender                0
Name: 3, dtype: int64
bike_id                   3800
start_time          1527836617
start_station_id            30
end_time            1527837008
end_station_id              27
duration_sec               391
user_type                    0
member_age                  42
member_gender                0
Name: 4, dtype: int64
bike_id                   3931
start_time          1527836663
start_station_id           350
end_time            1527837464
end_station_id              70
duration_sec               801
user_type                    0
member_age                  24
member_gender                0
Name: 5, dtype: int64
bike_id                   2618
start_time          1527836711
start_station_id            98
end_time            1527837130
end_station_id              41
duration_sec               418
user_type                    0
member_age                  53
member_gender                0
Name: 6, dtype: int64
bike_id                   1202
start_time          1527836968
start_station_id           105
end_time            1527837088
end_station_id             119
duration_sec               119
user_type                    0
member_age                  28
member_gender                0
Name: 7, dtype: int64
bike_id                    116
start_time          1527836993
start_station_id            21
end_time            1527837181
end_station_id              14
duration_sec               187
user_type                    0
member_age                  37
member_gender                0
Name: 8, dtype: int64
bike_id                   3934
start_time          1527837028
start_station_id           119
end_time            1527837236
end_station_id             107
duration_sec               208
user_type                    0
member_age                  37
member_gender                0
Name: 9, dtype: int64

In [104]:
from sqlalchemy import inspect, MetaData
import numpy as np

md = MetaData(engine, reflect=True)
stationQ = session.query(Station.station_name).all()
riderQ = session.query(Rider.start_time).all()
# print(md.tables)
all_station_names = list(np.ravel(stationQ))
all_rider_starts = list(np.ravel(riderQ))

# all_station_names

print (all_station_names)
print('---------------')
print (all_rider_starts)
# for _row in stationQ:
#     print( _row.station_name)

['Eureka Valley Recreation Center', 'Valencia St at Cesar Chavez St', 'Folsom St at 3rd St', 'Berry St at 4th St', 'Sanchez St at 15th St', 'Embarcadero BART Station (Beale St at Market St)', 'Golden Gate Ave at Polk St', 'Franklin Square', 'San Francisco Caltrain (Townsend St at 4th St)', 'Beale St at Harrison St', '8th St at Brannan St', 'Central Ave at Fell St', 'Valencia St at 16th St', '16th St at Prosper St', '18th St at Noe St', 'Montgomery St BART Station (Market St at 2nd St)', 'Clay St at Battery St', '17th St at Dolores St']
---------------
[1527836548, 1527836557, 1527836558, 1527836592, 1527836617, 1527836663, 1527836711, 1527836968, 1527836993, 1527837028]

C:\Users\jjahn\Anaconda3\envs\pythondata36\lib\site-packages\ipykernel_launcher.py:4: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  after removing the cwd from sys.path.

In [105]:
meta = MetaData()
meta.reflect(bind=engine)
station_name= meta.tables['station']
station_zipcode = meta.tables['rider']

station_name

Table('station', MetaData(bind=None), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station_id', INTEGER(), table=<station>), Column('station_name', VARCHAR(length=255), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('neighborhood', VARCHAR(length=255), table=<station>), Column('zipcode', INTEGER(), table=<station>), schema=None)

In [57]:
station_zipcode

Table('rider', MetaData(bind=None), Column('id', INTEGER(), table=<rider>, primary_key=True, nullable=False), Column('bike_id', INTEGER(), table=<rider>), Column('start_time', INTEGER(), table=<rider>), Column('start_station_id', INTEGER(), table=<rider>), Column('end_time', INTEGER(), table=<rider>), Column('end_station_id', INTEGER(), table=<rider>), Column('duration', INTEGER(), table=<rider>), Column('user_type', INTEGER(), table=<rider>), Column('member_age', INTEGER(), table=<rider>), Column('member_gender', INTEGER(), table=<rider>), schema=None)

In [58]:
stationCastro = session.query(Station).filter(Station.zipcode == 94114)

for _row in stationCastro.all():
    print(_row.station_id, _row.latitude, _row.longitude, _row.station_name, _row.neighborhood)

118 37.7591769 -122.4369431 Eureka Valley Recreation Center The Castro
95 37.7662185 -122.4310597 Sanchez St at 15th St The Castro
105 37.764285 -122.43180420000002 16th St at Prosper St The Castro
119 37.7610471 -122.43264170000002 18th St at Noe St The Castro
107 37.7630152 -122.42649679999998 17th St at Dolores St Mission Dolores

In [59]:
pd.read_sql_query(stationCastro.statement, conn)

,id,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,1,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,5,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114
2,14,105,16th St at Prosper St,37.764285,-122.431804,The Castro,94114
3,15,119,18th St at Noe St,37.761047,-122.432642,The Castro,94114
4,18,107,17th St at Dolores St,37.763015,-122.426497,Mission Dolores,94114

In [60]:
pd.read_sql(session.query(Station).filter(Station.neighborhood == 'China Basin').statement, session.bind)

,id,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,4,81,Berry St at 4th St,37.77588,-122.39317,China Basin,94107

In [94]:
pd.read_sql('SELECT * FROM station;', conn)

,id,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,1,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,2,141,Valencia St at Cesar Chavez St,37.747998,-122.420219,Bernal Heights,94110
2,3,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103
3,4,81,Berry St at 4th St,37.775880,-122.393170,China Basin,94107
4,5,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114
5,6,17,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,South of Market,94105
6,7,41,Golden Gate Ave at Polk St,37.781270,-122.418740,Civic Center,94102
7,8,113,Franklin Square,37.764555,-122.410345,Mission District,94110
8,9,30,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,Mission Bay,94107
9,10,27,Beale St at Harrison St,37.788059,-122.391865,Rincon Hill,94105
10,11,350,8th St at Brannan St,37.771431,-122.405787,Mission Bay,94103
11,12,70,Central Ave at Fell St,37.773311,-122.444293,North of the Panhandle,94117
12,13,98,Valencia St at 16th St,37.765052,-122.421866,Mission Dolores,94103
13,14,105,16th St at Prosper St,37.764285,-122.431804,The Castro,94114
14,15,119,18th St at Noe St,37.761047,-122.432642,The Castro,94114
15,16,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,South of Market,94104
16,17,14,Clay St at Battery St,37.795001,-122.399970,Financial District,94111
17,18,107,17th St at Dolores St,37.763015,-122.426497,Mission Dolores,94114

In [109]:
pd.read_sql('SELECT * FROM rider;', conn)

,id,bike_id,start_time,start_station_id,end_time,end_station_id,duration,user_type,member_age,member_gender
0,1,4036,1527836548,b'v\x00\x00\x00\x00\x00\x00\x00',1527837055,141,507,0,46,0
1,2,1607,1527836557,b'$\x00\x00\x00\x00\x00\x00\x00',1527836841,81,283,0,31,0
2,3,1701,1527836558,b'_\x00\x00\x00\x00\x00\x00\x00',1527837790,17,1231,0,45,0
3,4,3848,1527836592,b')\x00\x00\x00\x00\x00\x00\x00',1527837084,113,491,0,53,0
4,5,3800,1527836617,b'\x1e\x00\x00\x00\x00\x00\x00\x00',1527837008,27,391,0,42,0
5,6,3931,1527836663,b'^\x01\x00\x00\x00\x00\x00\x00',1527837464,70,801,0,24,0
6,7,2618,1527836711,b'b\x00\x00\x00\x00\x00\x00\x00',1527837130,41,418,0,53,0
7,8,1202,1527836968,b'i\x00\x00\x00\x00\x00\x00\x00',1527837088,119,119,0,28,0
8,9,116,1527836993,b'\x15\x00\x00\x00\x00\x00\x00\x00',1527837181,14,187,0,37,0
9,10,3934,1527837028,b'w\x00\x00\x00\x00\x00\x00\x00',1527837236,107,208,0,37,0

In [96]:
riders = session.query(Rider).all()
for _row in riders:
    print(_row.start_time, _row.end_time, _row.duration, _row.end_time, _row.start_time)

1527836548 1527837055 b'\xfb\x01\x00\x00\x00\x00\x00\x00' 1527837055 1527836548
1527836557 1527836841 b'\x1b\x01\x00\x00\x00\x00\x00\x00' 1527836841 1527836557
1527836558 1527837790 b'\xcf\x04\x00\x00\x00\x00\x00\x00' 1527837790 1527836558
1527836592 1527837084 b'\xeb\x01\x00\x00\x00\x00\x00\x00' 1527837084 1527836592
1527836617 1527837008 b'\x87\x01\x00\x00\x00\x00\x00\x00' 1527837008 1527836617
1527836663 1527837464 b'!\x03\x00\x00\x00\x00\x00\x00' 1527837464 1527836663
1527836711 1527837130 b'\xa2\x01\x00\x00\x00\x00\x00\x00' 1527837130 1527836711
1527836968 1527837088 b'w\x00\x00\x00\x00\x00\x00\x00' 1527837088 1527836968
1527836993 1527837181 b'\xbb\x00\x00\x00\x00\x00\x00\x00' 1527837181 1527836993
1527837028 1527837236 b'\xd0\x00\x00\x00\x00\x00\x00\x00' 1527837236 1527837028

In [80]:
station_name_result = session.query(Station.station_name).all()
station_name_list = list(np.ravel(station_name_result))
station_name_list

['Eureka Valley Recreation Center',
 'Valencia St at Cesar Chavez St',
 'Folsom St at 3rd St',
 'Berry St at 4th St',
 'Sanchez St at 15th St',
 'Embarcadero BART Station (Beale St at Market St)',
 'Golden Gate Ave at Polk St',
 'Franklin Square',
 'San Francisco Caltrain (Townsend St at 4th St)',
 'Beale St at Harrison St',
 '8th St at Brannan St',
 'Central Ave at Fell St',
 'Valencia St at 16th St',
 '16th St at Prosper St',
 '18th St at Noe St',
 'Montgomery St BART Station (Market St at 2nd St)',
 'Clay St at Battery St',
 '17th St at Dolores St']

In [28]:
# session.rollback()
session.close()