In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

import pymysql
import pandas as pd
pymysql.install_as_MySQLdb()

In [2]:
Base = declarative_base()

class Rider(Base):
    __tablename__ = 'rider'
    id = Column(Integer, primary_key=True)
    bike_id = Column(Integer)
    start_time = Column(Integer)
    start_station_id = Column(Integer)
    end_time = Column(Integer)
    end_station_id = Column(Integer)
    duration = Column(Integer)
    user_type = Column(Integer)
    member_age = Column(Integer)
    member_gender = Column(Integer)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station_id = Column(Integer)
    station_name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    neighborhood = Column(String(255))
    zipcode = Column(Integer)

In [3]:
file = 'Data/stationsample.csv'
pd.read_csv(file).drop(columns=['Unnamed: 0']).to_csv('Data/stationsample_cleaned.csv', index=False)

In [4]:
cleanfile = 'Data/stationsample_cleaned.csv'
df = pd.read_csv(cleanfile)
df.head()

,station_id,station_name,latitude,longitude,neighborhood,zipcode
0,118,Eureka Valley Recreation Center,37.759177,-122.436943,The Castro,94114
1,141,Valencia St at Cesar Chavez St,37.747998,-122.420219,Bernal Heights,94110
2,36,Folsom St at 3rd St,37.783830,-122.398870,South of Market,94103
3,81,Berry St at 4th St,37.775880,-122.393170,China Basin,94107
4,95,Sanchez St at 15th St,37.766219,-122.431060,The Castro,94114

In [5]:
engine = create_engine('sqlite:///GoBike.sqlite')
conn = engine.connect()

In [6]:
Base.metadata.create_all(engine)

In [7]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [8]:
for index, row in df.iterrows():
    session.add(Station(station_id=row['station_id'],
                        station_name=row['station_name'], 
                        latitude=row['latitude'], 
                        longitude=row['longitude'], 
                        neighborhood=row['neighborhood'], 
                        zipcode=row['zipcode']))

In [31]:
gobike = 'Data/GoBikeRiderSample.csv'
pd.read_csv(gobike).drop(columns=['Unnamed: 0']).to_csv('Data/GoBikeRiderClean.csv', index=False)

In [32]:
file2 = 'Data/GoBikeRiderClean.csv'
df2 = pd.read_csv(file2)
df2.head()

,bike_id,start_time,start_station_id,end_time,end_station_id,duration_sec,user_type,member_age,member_gender
0,4036,1527836548,118,1527837055,141,507,0,46,0
1,1607,1527836557,36,1527836841,81,283,0,31,0
2,1701,1527836558,95,1527837790,17,1231,0,45,0
3,3848,1527836592,41,1527837084,113,491,0,53,0
4,3800,1527836617,30,1527837008,27,391,0,42,0

In [33]:
for index, row in df2.iterrows():
    session.add(Rider(bike_id = row['bike_id'],
                    start_time = row['start_time'],
                    start_station_id = row['start_station_id'],
                    end_time = row['end_time'],
                    end_station_id = row['end_station_id'],
                    duration = row['duration_sec'],
                    user_type = row['user_type'],
                    member_age = row['member_age'],
                    member_gender = row['member_gender']))

In [11]:
from sqlalchemy import inspect, MetaData

md = MetaData(engine, reflect=True)
stationQ = session.query(Station)
print(md.tables)
print('---------------')

for _row in stationQ.all():
    print(_row.station_id, _row.latitude, _row.longitude, _row.station_name, _row.neighborhood)

immutabledict({'rider': Table('rider', MetaData(bind=Engine(sqlite:///GoBike.sqlite)), Column('id', INTEGER(), table=<rider>, primary_key=True, nullable=False), Column('bike_id', INTEGER(), table=<rider>), Column('start_time', INTEGER(), table=<rider>), Column('start_station_id', INTEGER(), table=<rider>), Column('end_time', INTEGER(), table=<rider>), Column('end_station_id', INTEGER(), table=<rider>), Column('duration', INTEGER(), table=<rider>), Column('user_type', INTEGER(), table=<rider>), Column('member_age', INTEGER(), table=<rider>), Column('member_gender', INTEGER(), table=<rider>), schema=None), 'station': Table('station', MetaData(bind=Engine(sqlite:///GoBike.sqlite)), Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False), Column('station_id', INTEGER(), table=<station>), Column('station_name', VARCHAR(length=255), table=<station>), Column('latitude', FLOAT(), table=<station>), Column('longitude', FLOAT(), table=<station>), Column('neighborhood', VARCHAR(length=255), table=<station>), Column('zipcode', INTEGER(), table=<station>), schema=None)})
---------------
118 37.7591769 -122.4369431 Eureka Valley Recreation Center The Castro
141 37.747998100000004 -122.42021869999999 Valencia St at Cesar Chavez St Bernal Heights
36 37.78383 -122.39887 Folsom St at 3rd St South of Market
81 37.77588 -122.39317 Berry St at 4th St China Basin
95 37.7662185 -122.4310597 Sanchez St at 15th St The Castro
17 37.792251 -122.39708600000002 Embarcadero BART Station (Beale St at Market St) South of Market
41 37.78127 -122.41873999999999 Golden Gate Ave at Polk St Civic Center
113 37.764555 -122.41034499999999 Franklin Square Mission District
30 37.776598 -122.39528200000001 San Francisco Caltrain (Townsend St at 4th St) Mission Bay
27 37.7880593 -122.39186480000001 Beale St at Harrison St Rincon Hill
350 37.77143136292109 -122.40578681230544 8th St at Brannan St Mission Bay
70 37.77331087889723 -122.44429260492323 Central Ave at Fell St North of the Panhandle
98 37.765052000000004 -122.42186609999999 Valencia St at 16th St Mission Dolores
105 37.764285 -122.43180420000002 16th St at Prosper St The Castro
119 37.7610471 -122.43264170000002 18th St at Noe St The Castro
21 37.7896254 -122.400811 Montgomery St BART Station (Market St at 2nd St) South of Market
14 37.795001 -122.39997 Clay St at Battery St Financial District
107 37.7630152 -122.42649679999998 17th St at Dolores St Mission Dolores

C:\Users\jjahn\Anaconda3\envs\pythondata36\lib\site-packages\ipykernel_launcher.py:3: SADeprecationWarning: reflect=True is deprecate; please use the reflect() method.
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
stationCastro = session.query(Station).filter(Station.zipcode == 94114)

for _row in stationCastro.all():
    print(_row.station_id, _row.latitude, _row.longitude, _row.station_name, _row.neighborhood)

118 37.7591769 -122.4369431 Eureka Valley Recreation Center The Castro
95 37.7662185 -122.4310597 Sanchez St at 15th St The Castro
105 37.764285 -122.43180420000002 16th St at Prosper St The Castro
119 37.7610471 -122.43264170000002 18th St at Noe St The Castro
107 37.7630152 -122.42649679999998 17th St at Dolores St Mission Dolores

In [26]:
pd.read_sql_query("SELECT * FROM station;", conn)

Empty DataFrame
Columns: [id, station_id, station_name, latitude, longitude, neighborhood, zipcode]
Index: []

In [12]:
pd.read_sql(session.query(Station).filter(Station.neighborhood == 'China Basin').statement, session.bind)

Empty DataFrame
Columns: [id, station_id, station_name, latitude, longitude, neighborhood, zipcode]
Index: []

In [37]:
df = pd.read_sql('SELECT * FROM station', conn)

In [38]:
df

Empty DataFrame
Columns: [id, station_id, station_name, latitude, longitude, neighborhood, zipcode]
Index: []

In [39]:
riders = session.query(Rider)
for _row in riders.all():
    print(_row.start_time, _row.end_time, _row.duration, (_row.end_time - _row.start_time))

InvalidRequestError: This Session's transaction has been rolled back due to a previous exception during flush. To begin a new transaction with this Session, first issue Session.rollback(). Original exception was: (raised as a result of Query-invoked autoflush; consider using a session.no_autoflush block if this flush is occurring prematurely) (sqlite3.OperationalError) table rider has no column named user_type [SQL: 'INSERT INTO rider (bike_id, start_time, start_station_id, end_time, end_station_id, duration, user_type, member_age, member_gender) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (4036, 1527836548, 118, 1527837055, 141, 507, 0, 46, 0)] (Background on this error at: http://sqlalche.me/e/e3q8)

In [22]:
session.rollback()
session.close()

C:\Users\jjahn\Anaconda3\envs\pythondata36\lib\site-packages\sqlalchemy\orm\session.py:521: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "